/* You can add global styles to this file, and also import other style files */

.page-title {
    color:rgb(132, 0, 255);
}

.my-table {
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

tr:hover {background-color: rgb(218, 218, 218);}