<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4 class="page-title">Achievements and Awards</h4>
                <hr>
                <ul>
                    <li>Awarded with <b>“Most Valuable Player”</b> by <b>Marlabs CFO</b> in Sep 2018.</li>
                    <li>Awarded with <b>“Most Valuable Resource”</b> by <b>Capgemini</b> in Dec 2017.</li>
                    <li>Achieved recognition in multiple projects by client for the outstanding efforts.</li>
                </ul>
            </div>
        </div>
    </div>
</div>